In [4]:
import pandas as pd

x={"A":[12,3,1,3,4],"S":[1,2,3,4,5],"B":[12,3,4,5,6]}

var=pd.DataFrame(x)

print(var)

    A  S   B
0  12  1  12
1   3  2   3
2   1  3   4
3   3  4   5
4   4  5   6

In [18]:
var.insert(1,"Add",var["A"]+var["B"])
print(var)

    A  Add  A+b  S   B
0  12   24   24  1  12
1   3    6    6  2   3
2   1    5    5  3   4
3   3    8    8  4   5
4   4   10   10  5   6

In [19]:
del var["Add"]
var.pop("A+b")

0    24
1     6
2     5
3     8
4    10
Name: A+b, dtype: int64

In [20]:
var.insert(1,"Add",var["A"]+var["B"])
print(var)

    A  Add  S   B
0  12   24  1  12
1   3    6  2   3
2   1    5  3   4
3   3    8  4   5
4   4   10  5   6

In [21]:
var.insert(1,"Sub",var["A"]-var["B"])
print(var)

    A  Sub  Add  S   B
0  12    0   24  1  12
1   3    0    6  2   3
2   1   -3    5  3   4
3   3   -2    8  4   5
4   4   -2   10  5   6

In [22]:
var.insert(1,"divide",var["A"]/var["B"])
print(var)

    A    divide  Sub  Add  S   B
0  12  1.000000    0   24  1  12
1   3  1.000000    0    6  2   3
2   1  0.250000   -3    5  3   4
3   3  0.600000   -2    8  4   5
4   4  0.666667   -2   10  5   6

In [23]:
var.insert(1,"Mult",var["A"]*var["B"])
print(var)

    A  Mult    divide  Sub  Add  S   B
0  12   144  1.000000    0   24  1  12
1   3     9  1.000000    0    6  2   3
2   1     4  0.250000   -3    5  3   4
3   3    15  0.600000   -2    8  4   5
4   4    24  0.666667   -2   10  5   6

In [29]:
import pandas as pd

x={"A":[12,3,1,3,4],"S":[1,2,3,4,5],"B":[12,3,4,5,6]}

var1=pd.DataFrame(x)

var1.insert(1,"A<=b",var1["A"]<=var["B"])

print(var1)

    A  A<=b  S   B
0  12  True  1  12
1   3  True  2   3
2   1  True  3   4
3   3  True  4   5
4   4  True  5   6

In [30]:
var1.insert(1,"A>b",var1["A"]>var["B"])

print(var1)

    A    A>b  A<=b  S   B
0  12  False  True  1  12
1   3  False  True  2   3
2   1  False  True  3   4
3   3  False  True  4   5
4   4  False  True  5   6